.idea
.vscode
venv_*
*__pycache__*
job_output_log
*.out
*.pt
*.ptm
*.ipynb
*.png
*.svg
*.csv*
*.tsv*
*.zip
data
data1
plots/old_results
log
source/DisGeneFormer_ablation.py
predict_genes.py
/gene_net/*
/disease_net/*
*ranked_genes*
/crispr_evo/*
plots/combine_figs.tex
scripts/zip_all_results.sh
scripts/setup_experiment.sh
scripts/run_humannet_comparison.sh

results/hard_negatives_ablation
results/run_humannet_comparison_disease_specific
