.idea
.vscode
venv_*
*__pycache__*
job_output_log
*.out
*.pt
*.ptm
*.ipynb
*.png
*.svg
*.csv*
*.tsv*
*.zip
data
data1
plots/old_results
log
source/DisGeneFormer_ablation.py
predict_genes.py
/gene_net/*
/disease_net/*
*ranked_genes*
/crispr_evo/*